<!DOCTYPE html>
<html lang="en">
<head>
	<title>Boomerang Repository</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="/CydiaIcon.png">
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/index.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="page-header">
			<img src="/CydiaIcon.png" alt="Repo Icon" height="40" width="40" class="repo-icon">
			<h1>Boomerang Repository</h1>
		</div>
		<div class="row">
			<div class="col-md-8">
				<div class="panel panel-default">
					<div class="panel-body">
						This Boomerang repository hosts a number of packages. You can add it to Cydia using the share <a href="cydia://url/https://cydia.saurik.com/api/share#?source=https://cydia.example.com">link</a>!
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>